.grecaptcha-badge {
    visibility: hidden !important;
}

.skeleton-loader {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
}

.skeleton-row {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.6;
    }
}

.skeleton-loader.skeleton-loading .skeleton-row {
    animation: skeleton-loading 1s infinite;
}
