/* Google Re-Captcha */
.grecaptcha-badge {
    visibility: hidden !important;
}

/* Map */
 #map {
     width: 100%;
     height: 270px;
 }

@media (max-width: 768px) {
    #map {
        height: 220px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #map {
        height: 550px;
    }
}

.file-upload {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: #000000 dashed 1px;
    cursor: pointer;
    border-radius: 0.25rem;
}
